@media (min-width: 768px) {
    .mzp-has-sidebar .mzp-l-main {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 66.666%
    }

    .mzp-has-sidebar .mzp-l-sidebar {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.333%
    }

    .mzp-has-sidebar.mzp-l-sidebar-left .mzp-l-main {
        float: right;
        padding-left: 16px;
        padding-right: 0
    }

    [dir=rtl] .mzp-has-sidebar.mzp-l-sidebar-left .mzp-l-main {
        float: left;
        padding-left: 0;
        padding-right: 16px
    }

    .mzp-has-sidebar.mzp-l-sidebar-left .mzp-l-sidebar {
        float: left;
        padding-right: 16px;
        padding-left: 0
    }

    [dir=rtl] .mzp-has-sidebar.mzp-l-sidebar-left .mzp-l-sidebar {
        float: right;
        padding-right: 0;
        padding-left: 16px
    }

    .mzp-has-sidebar.mzp-l-sidebar-right .mzp-l-main {
        float: left;
        padding-right: 16px;
        padding-left: 0
    }

    [dir=rtl] .mzp-has-sidebar.mzp-l-sidebar-right .mzp-l-main {
        float: right;
        padding-right: 0;
        padding-left: 16px
    }

    .mzp-has-sidebar.mzp-l-sidebar-right .mzp-l-sidebar {
        float: right;
        padding-left: 16px;
        padding-right: 0
    }

    [dir=rtl] .mzp-has-sidebar.mzp-l-sidebar-right .mzp-l-sidebar {
        float: left;
        padding-left: 0;
        padding-right: 16px
    }
}

@media (min-width: 1024px) {
    .mzp-has-sidebar .mzp-l-main {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 75%
    }

    .mzp-has-sidebar .mzp-l-sidebar {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 25%
    }
}

html.mzp-is-noscroll {
    overflow: hidden;
    height: 100%
}

html.mzp-is-noscroll body {
    height: 100%;
    overflow: hidden
}

html.mzp-is-noscroll .mzp-c-modal {
    position: absolute
}

@media (min-width: 768px) {
    html.mzp-is-noscroll {
        height: auto
    }

    html.mzp-is-noscroll body {
        height: auto
    }

    html.mzp-is-noscroll .mzp-c-modal {
        position: fixed
    }
}

.mzp-c-modal {
    -webkit-animation: mzp-a-fade-in .3s ease-in 0s 1 normal both;
    animation: mzp-a-fade-in .3s ease-in 0s 1 normal both;
    background: #000;
    background: rgba(0, 0, 0, .85);
    bottom: 0;
    height: 101%;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999999
}

.mzp-c-modal-window {
    padding: 24px
}

.mzp-c-modal-inner {
    zoom: 1;
    background: rgba(0, 0, 0, .9);
    max-width: 1200px;
    padding: 32px;
    position: relative
}

.mzp-c-modal-inner:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden
}

.mzp-c-modal-inner > header {
    padding-right: 64px
}

[dir=rtl] .mzp-c-modal-inner > header {
    padding-right: 0;
    padding-left: 64px
}

.mzp-c-modal-inner > header h2 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1;
    font-family: Inter, X-LocaleSpecific, sans-serif;
    color: #fff
}

@media (min-width: 768px) {
    .mzp-c-modal-inner > header h2 {
        font-size: 24px;
        font-size: 1.5rem
    }
}

@media (min-width: 1024px) {
    .mzp-c-modal-inner {
        margin: 24px auto 64px
    }
}

.mzp-c-modal-close {
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 99
}

.mzp-c-modal-close {
    right: 8px
}

[dir=rtl] .mzp-c-modal-close {
    right: auto;
    left: 8px
}

.mzp-c-modal-close .mzp-c-modal-button-close {
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    background: transparent url("../../protocol/img/icons/close-white.8557d2773e57.svg") center center no-repeat;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
    border: none;
    height: 42px;
    min-width: 0;
    padding: 0;
    width: 42px
}

.mzp-c-modal-close .mzp-c-modal-button-close:focus, .mzp-c-modal-close .mzp-c-modal-button-close:hover {
    -webkit-transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.mzp-c-modal-close .mzp-c-modal-button-close:focus {
    outline: 1px dotted #fff
}

.mzp-c-modal-overlay-contents {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.5;
    background: 0 0;
    margin: 0 auto;
    padding-top: 24px;
    color: #fff
}

.mzp-c-modal-overlay-contents a:link, .mzp-c-modal-overlay-contents a:visited {
    color: #fff;
    text-decoration: underline
}

.mzp-c-modal-overlay-contents a:visited {
    color: rgba(255, 255, 255, .8)
}

.mzp-c-modal-overlay-contents a:active, .mzp-c-modal-overlay-contents a:focus, .mzp-c-modal-overlay-contents a:hover {
    text-decoration: none
}

.mzp-has-media .mzp-c-modal-overlay-contents img, .mzp-has-media .mzp-c-modal-overlay-contents video {
    display: block;
    width: 100%;
    margin-bottom: 32px
}

.js .mzp-u-modal-content {
    display: none
}

.js .mzp-c-modal-inner .mzp-u-modal-content {
    display: block
}

.mzp-c-sidemenu {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #ededf0;
    padding: 8px 24px;
    margin: 0 -24px 32px
}

.mzp-c-sidemenu-summary {
    display: none
}

.mzp-c-sidemenu-summary ul {
    margin: 0
}

.mzp-c-sidemenu-summary li {
    color: #42425a;
    display: inline-block
}

.mzp-c-sidemenu-summary li {
    margin-right: 4px
}

[dir=rtl] .mzp-c-sidemenu-summary li {
    margin-right: 0;
    margin-left: 4px
}

.mzp-c-sidemenu-summary li:after {
    content: '\25B8';
    display: inline-block
}

.mzp-c-sidemenu-summary li:after {
    margin-left: 4px;
    transform: none
}

[dir=rtl] .mzp-c-sidemenu-summary li:after {
    margin-left: 0;
    margin-right: 4px;
    transform: translateY(3px) rotate(180deg)
}

.mzp-c-sidemenu-summary li:last-child:after {
    content: '';
    margin: 0
}

.mzp-c-sidemenu-summary li.mzp-is-current {
    color: #000
}

.mzp-c-sidemenu-main ul {
    margin: 0
}

.mzp-c-sidemenu-main li {
    margin-bottom: .25em
}

.mzp-c-sidemenu-main a {
    border-radius: 2px;
    display: block;
    padding: .35em 24px;
    text-decoration: none;
    transition: background-color .1s ease-in
}

.mzp-c-sidemenu-main a:active, .mzp-c-sidemenu-main a:focus, .mzp-c-sidemenu-main a:hover {
    background-color: rgba(0, 0, 0, .05);
    text-decoration: underline
}

.mzp-c-sidemenu-main .mzp-is-current a {
    font-weight: 700;
    background-color: #ededf0
}

.mzp-c-sidemenu-label {
    font-family: Inter, X-LocaleSpecific, sans-serif;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.5;
    position: relative
}

.mzp-c-sidemenu-label {
    padding-right: 24px
}

[dir=rtl] .mzp-c-sidemenu-label {
    padding-right: 0;
    padding-left: 24px
}

.mzp-c-sidemenu-label:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #42425a;
    content: none;
    font-size: 1.5em;
    position: absolute;
    top: 0
}

.mzp-c-sidemenu-label:after {
    right: 0
}

[dir=rtl] .mzp-c-sidemenu-label:after {
    right: auto;
    left: 0
}

.mzp-c-sidemenu-title {
    font-family: Inter, X-LocaleSpecific, sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.5;
    line-height: 1.5;
    margin-bottom: .25em
}

.mzp-c-sidemenu-title a {
    padding: .35em 16px
}

.js .mzp-c-sidemenu-summary {
    display: block;
    padding: 8px 24px;
    margin: -8px -24px
}

.js .mzp-c-sidemenu-main {
    display: none
}

.js .mzp-c-sidemenu-label:after {
    content: '\25B8'
}

.js .mzp-is-active .mzp-c-sidemenu-label:after {
    transform: rotate(-90deg)
}

.js .mzp-is-active .mzp-c-sidemenu-main {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    margin: 16px -16px 0
}

@media (min-width: 768px) {
    .js .mzp-c-sidemenu-summary {
        display: none
    }

    .js .mzp-c-sidemenu-main {
        display: block
    }

    .js .mzp-is-active .mzp-c-sidemenu-main {
        margin: 0
    }

    .js .mzp-c-sidemenu {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5;
        background-color: transparent;
        padding: 0;
        margin: 0
    }
}

.c-product-select-form {
    zoom: 1;
    position: relative
}

.c-product-select-form:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden
}

.c-product-select-form[data-current=desktop_release] .c-selection-options[data-product=desktop_release] {
    display: block
}

.c-product-select-form[data-current=desktop_release] .c-product-links[data-product=desktop_release] {
    display: block
}

.c-product-select-form[data-current=desktop_beta] .c-selection-options[data-product=desktop_beta] {
    display: block
}

.c-product-select-form[data-current=desktop_beta] .c-product-links[data-product=desktop_beta] {
    display: block
}

.c-product-select-form[data-current=desktop_developer] .c-selection-options[data-product=desktop_developer] {
    display: block
}

.c-product-select-form[data-current=desktop_developer] .c-product-links[data-product=desktop_developer] {
    display: block
}

.c-product-select-form[data-current=desktop_nightly] .c-selection-options[data-product=desktop_nightly] {
    display: block
}

.c-product-select-form[data-current=desktop_nightly] .c-product-links[data-product=desktop_nightly] {
    display: block
}

.c-product-select-form[data-current=desktop_esr] .c-selection-options[data-product=desktop_esr] {
    display: block
}

.c-product-select-form[data-current=desktop_esr] .c-product-links[data-product=desktop_esr] {
    display: block
}

.c-product-select-form[data-current=desktop_esr_next] .c-selection-options[data-product=desktop_esr_next] {
    display: block
}

.c-product-select-form[data-current=desktop_esr_next] .c-product-links[data-product=desktop_esr] {
    display: block
}

.c-product-select-form[data-current=android_release] .c-selection-options[data-product=android_release] {
    display: block
}

.c-product-select-form[data-current=android_release] .c-product-links[data-product=android_release] {
    display: block
}

.c-product-select-form[data-current=android_beta] .c-selection-options[data-product=android_beta] {
    display: block
}

.c-product-select-form[data-current=android_beta] .c-product-links[data-product=android_beta] {
    display: block
}

.c-product-select-form[data-current=android_nightly] .c-selection-options[data-product=android_nightly] {
    display: block
}

.c-product-select-form[data-current=android_nightly] .c-product-links[data-product=android_nightly] {
    display: block
}

.c-intro {
    margin-bottom: 48px
}

.c-intro .c-intro-heading {
    background-image: url("../../protocol/img/logos/firefox/browser/logo-sm.f2523d97cbe0.png");
    background-size: 64px 64px;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.1;
    background-repeat: no-repeat;
    margin-bottom: 32px;
    padding-top: 88px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .c-intro .c-intro-heading {
        background-image: url("../../protocol/img/logos/firefox/browser/logo-sm-high-res.3d9087ac44e8.png");
        background-size: 64px 64px
    }
}

.c-intro .c-intro-heading {
    background-position: top left
}

[dir=rtl] .c-intro .c-intro-heading {
    background-position: top right
}

@media (min-width: 768px) {
    .c-intro .c-intro-heading {
        font-size: 48px;
        font-size: 3rem
    }
}

.c-intro .c-product-links {
    display: none
}

@media (min-width: 768px) {
    .c-intro {
        width: calc(50% - 24px)
    }

    .c-intro {
        float: left
    }

    [dir=rtl] .c-intro {
        float: right
    }
}

@media (min-width: 1024px) {
    .c-intro {
        width: calc(50% - 48px)
    }
}

.c-button-help {
    background-image: url("../../img/firefox/all/icon-question.3651d4855dba.png");
    background-size: 21px 21px;
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 21px;
    vertical-align: middle;
    width: 21px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .c-button-help {
        background-image: url("../../img/firefox/all/icon-question-high-res.bfbb20646dba.png");
        background-size: 21px 21px
    }
}

.c-selection-form {
    display: none
}

@media (min-width: 768px) {
    .c-selection-form {
        margin-bottom: 96px;
        padding-top: 88px;
        width: calc(50% - 24px)
    }

    .c-selection-form {
        float: right
    }

    [dir=rtl] .c-selection-form {
        float: left
    }
}

@media (min-width: 1024px) {
    .c-selection-form {
        width: calc(50% - 48px)
    }
}

.c-selection-form .c-selection {
    margin-bottom: 32px
}

.c-selection-form .c-selection-label {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle
}

.c-selection-form .c-selection-input {
    margin-top: 8px;
    width: 100%
}

.c-selection-form .c-selection-options {
    display: none
}

.c-download .c-download-error {
    color: #e22850;
    display: none
}

.c-download.has-error .c-download-error {
    display: block
}

.c-download.has-error .c-download-info {
    display: none
}

.c-download.has-error #download-button-primary {
    display: none
}

.c-all-downloads {
    zoom: 1
}

.c-all-downloads:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden
}

.c-all-downloads .c-all-downloads-build {
    position: relative
}

.c-all-downloads .mzp-l-sidebar {
    margin-top: 24px
}

@media (min-width: 768px) {
    .c-all-downloads .mzp-l-sidebar {
        margin-top: 16px;
        position: -webkit-sticky;
        position: sticky;
        top: 24px
    }
}

.c-all-downloads .mzp-c-sidemenu {
    background: #fff
}

.c-product-heading {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.1;
    background: #fff;
    padding: 16px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

@media (min-width: 768px) {
    .c-product-heading {
        font-size: 40px;
        font-size: 2.5rem
    }
}

.c-product-heading span {
    font-weight: 400
}

.c-product-subheading {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.1
}

@media (min-width: 768px) {
    .c-product-subheading {
        font-size: 32px;
        font-size: 2rem
    }
}

.c-locale-list {
    margin-bottom: 64px
}

.c-locale-list .c-locale-list-item {
    border-top: 2px solid #ededf0;
    padding-top: 16px
}

.c-locale-list .c-locale-label {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.1
}

@media (min-width: 768px) {
    .c-locale-list .c-locale-label {
        font-size: 32px;
        font-size: 2rem
    }
}

.c-locale-list .c-locale-label span {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1;
    display: block;
    font-weight: 400
}

@media (min-width: 768px) {
    .c-locale-list .c-locale-label span {
        font-size: 24px;
        font-size: 1.5rem
    }
}

.c-locale-list .c-download-list li {
    display: inline-block
}

.c-locale-list .c-download-list li {
    margin-right: 8px
}

[dir=rtl] .c-locale-list .c-download-list li {
    margin-right: 0;
    margin-left: 8px
}

.c-locale-list .c-download-list li:last-child {
    margin-right: 0
}

[dir=rtl] .c-locale-list .c-download-list li:last-child {
    margin-right: 0;
    margin-left: 0
}

@media (min-width: 768px) {
    .c-locale-list {
        margin-bottom: 96px
    }
}

.mzp-c-modal.help-modal .mzp-c-modal-window > .mzp-c-modal-inner {
    background: 0 0;
    max-width: 600px;
    padding: 32px 0 0
}

.mzp-c-modal.help-modal .mzp-c-modal-window > .mzp-c-modal-inner header {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px
}

.mzp-c-modal.help-modal .mzp-c-modal-close {
    right: 0
}

[dir=rtl] .mzp-c-modal.help-modal .mzp-c-modal-close {
    right: auto;
    left: 0
}

.c-help ul {
    background: #fff;
    color: #000;
    padding: 24px
}

.c-help a:link, .c-help a:visited {
    color: #000
}

.c-help a:active, .c-help a:focus, .c-help a:hover {
    color: #000
}

.c-help .c-help-title {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1
}

@media (min-width: 768px) {
    .c-help .c-help-title {
        font-size: 24px;
        font-size: 1.5rem
    }
}

.c-help .c-help-title span {
    font-weight: 400
}

.c-help .c-help-desc {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.5
}

.is-modern-browser .c-all-downloads {
    display: none
}

.is-modern-browser .c-all-downloads.is-fallback {
    display: block
}

.is-modern-browser .c-selection-form {
    display: block
}

@media (min-width: 1024px) {
    .is-modern-browser .c-product-select-form {
        min-height: 700px
    }
}
